// Copyright (c) 2022 The ZMK Contributors
// SPDX-License-Identifier: MIT

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

// Layers macro
#define DEFAULT 0
#define NUM 1
#define SYM 2

/{
    behaviors {
        ht: hold_tap {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <220>;
            quick-tap-ms = <150>;
            require-prior-idle-ms = <100>;
            bindings = <&kp>, <&kp>;
        };
        dc: dot_colon {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp DOT>, <&kp COLON>;
            mods = <(MOD_LSFT)>;
        };
        cs: comma_semicolon {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp COMMA>, <&kp SEMI>;
            mods = <(MOD_LSFT)>;
        };
        du: dash_underscore {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp MINUS>, <&kp UNDER>;
            mods = <(MOD_LSFT)>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default {
            //  q  w  e  r  t    y  u  i    o    p
            //  a  s  d  f  g    h  j  k    l
            //  z  x  c  v  b    n  m  , ;  . :  - _
            //    CTRL  SHIFT    SPACE/NUMBERS  ESCAPE/SYMBOLS
            //                   (press/hold)
            //----------------------------------
            bindings = <
                &kp Q    &kp W          &kp E         &kp R            &kp T        &kp Y        &kp U         &kp I         &kp O      &kp P
                &kp A    &ht LALT S     &ht LGUI D    &kp F            &kp G        &kp H        &ht RGUI J    &ht RALT K    &kp L      &trans
                &kp Z    &kp X          &kp C         &kp V            &kp B        &kp N        &kp M         &cs     &dc    &du
                                     &kp LCTRL     &kp LSHFT              &lt NUM SPACE    &lt SYM ESC
            >;
        };

        numbers {
            //             = 7 8 9 BACKSPACE
            //  TAB        + 4 5 6 ENTER
            //             0 1 2 3
            //----------------------------------
            bindings = <
                &trans     &trans      &trans      &trans     &trans           &kp EQUAL   &kp 7      &kp 8      &kp 9       &kp BSPC
                &kp TAB     &trans      &trans      &trans     &trans           &kp PLUS    &kp 4      &kp 5      &kp 6      &kp ENTER
                &trans     &trans      &trans      &trans     &trans           &kp 0       &kp 1     &kp 2     &kp 3     &trans
                                             &kp LCTRL     &kp LSHFT                      &trans     &trans
            >;
        };
        symbols {
            //       & # ~ *    ' [ ]   BACKSPACE
            //   TAB ^ @ % $    " ( ) | ENTER
            //       ? ! \ /      { } < >
            //----------------------------------
            bindings = <
                &trans     &kp AMPS      &kp HASH     &kp TILDE     &kp STAR          &kp SQT   &kp LBKT      &kp RBKT      &trans       &kp BSPC
                &kp TAB    &kp CARET     &kp AT        &kp PRCNT     &kp DLLR          &kp DQT   &kp LPAR      &kp RPAR      &kp PIPE      &kp ENTER
                &trans     &kp QMARK     &kp EXCL     &kp BSLH     &kp FSLH          &trans     &kp LBRC     &kp RBRC     &kp LT     &kp GT
                                                 &kp LCTRL     &kp LSHFT              k&trans     &trans
            >;
        };
    };
};
